<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="Chessie" version="0.6.0" targetFramework="net472" />
  <package id="Deedle" version="2.5.0" targetFramework="net472" />
  <package id="FSharp.Compiler.Service" version="37.0.0" targetFramework="net472" />
  <package id="FSharp.Compiler.Tools" version="10.2.3" targetFramework="net472" />
  <package id="FSharp.Control.Reactive" version="4.4.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="FSharp.Data" version="3.3.3" targetFramework="net472" />
  <package id="FSharp.Data.TypeProviders" version="5.0.0.6" targetFramework="net462" />
  <package id="FSharp.IO.FileSystem" version="3.2.1" targetFramework="net462" requireReinstallation="true" />
  <package id="FSharpVSPowerTools.Core" version="2.4.0" targetFramework="net462" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net462" />
  <package id="FsXaml.Wpf.Blend" version="3.1.6" targetFramework="net462" />
  <package id="Google.DataTable.Net.Wrapper" version="4.1.0" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net472" />
  <package id="MathNet.Numerics.FSharp" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Core" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Utilities.Core" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.NET.StringTools" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.0.4492" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net462" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net462" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net462" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.Process" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Globalization.Extensions" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.IO" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Windows.Threading" version="5.0.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="6.0.0" targetFramework="net472" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="6.0.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net462" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net462" />
  <package id="XPlot.GoogleCharts" version="3.0.1" targetFramework="net472" />
  <package id="XPlot.GoogleCharts.Deedle" version="3.0.1" targetFramework="net472" />
  <package id="XPlot.Plotly" version="3.0.1" targetFramework="net472" />
</packages>