<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Control.Reactive" version="4.2.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="FSharp.Data" version="3.3.3" targetFramework="net472" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net461" />
  <package id="FsXaml.Wpf.Blend" version="3.1.6" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
  <package id="Wolfram.NETLink" version="1.7.1" targetFramework="net472" />
</packages>