<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.6.1" targetFramework="net461" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net461" />
  <package id="FsXaml.Wpf.Blend" version="3.1.6" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>